*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background: url(login.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(22, 17, 17, 0.2);
    color: #110101;
    border-radius: 12px;
    padding: 30px 40px;
}
.wrapper .back{
    background: transparent;
    border-radius: 5px;
    border: 1px solid black;
    width: 50px;
    font-size: 20px;
    color: #333;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 92%;
    height: 40px;
    
    margin: 30px 0;
    
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: black;
    outline: none;
    border: 2px solid rgba(15, 1, 1, 0.432);
    border-radius: 40px;
    font-size: 15px;
    color: #131212;
    padding: 3px;
}
.input-box input::placeholder{
    color: #050505;
}
.input-box i{
    position: absolute;
    right: 10px;
    top: 28%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    accent-color: #0700007c;
    margin-right: 3px;
}
.remember-forgot a{
    color: #110505;
    text-decoration: none;
    
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: #0e0202;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a:hover{
    text-decoration: underline;
}